@import 'mixins';
@include google-font('Spicy+Rice');
$orange-color : #fff;

@include apply-to-ie-6{
  body{
    font-size: 125%;
  }
}

body{
  text-align:center;
}
.App{
  width: 960px;
  font-family: 'Spicy Rice', sans-serif;
  color: darkblue;
  background-color: #2196f3;
  margin: 50px auto;
  text-align: center;
  padding:5px;
  @include rounded(5px);
  @include large-screens{
    font-style: italic;
  }
  @include large-screens{
    width: auto;
    max-width:960px;
  }
}

input[type='text']{
  @include box-shadow(0 0 5px $orange-color);
}